language: crystal
before_script:
  - shards install
script:
  - crystal spec
after_success:
  - crystal docs
deploy:
  provider: pages
  skip_cleanup: true
  keep_history: true
  github_token: $GITHUB_TOKEN
  on:
    tags: true
    condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+$
  local_dir: docs
