<!DOCTYPE html>
<html>
<head>
  <title><%= message %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
      font-family: "Source Sans Pro", sans-serif;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem;
      text-align: center;
      background-color: #f9f9f9;
      color: #2c3e50;
    }

    .code {
      font-size: 8rem;
      font-weight: bold;
    }

    .message {
      margin-top: -1.25rem;
      font-size: 2rem;
      max-width: 25rem;
    }

    .request-id {
      margin-top: 0.5rem;
      color: #b4b9bf;
    }
  </style>
</head>
<body>
<div class="code"><%= code %></div>
<div class="message"><%= message %></div>
<div class="request-id">Request ID: <%= request_id || "N/A" %></div>
</body>
</html>
